body{
    font-family: 'Verdana';
    font-size: 0.8em;
    background-color: #f0f0f0;
}
.title_man{
    background-color: #14a8b7;
    color: #FFF;
    float: right;
    border-radius: 30px 0px 0px 30px;
    padding: 15px 15px 15px 50px;
    font-family: 'Impact';
    font-size: 2em;
    margin-left: 10px;
}
.limpiar{
    clear: both;
}
/*Textbox*/
            .btnbusqueda{
                padding: 10px 40px 10px 20px;
                border: solid 2px #14a8b7;
                background-color: #14a8b7;
                color: #FFF;
                text-align: center;
                cursor: pointer;
            }
            .btnbusqueda:hover{
                background-color: #FF0000;
                border-color: #FF0000;
            }
            .btnbusqueda:active{
                background-color: #0000ff;
                border-color: #0000ff;
            }
            .siguiente{
                background-image: url('../images/icons/icon_next.png');
                background-repeat: no-repeat;
                background-position: right;
            }
            .nuevo{
                background-image: url('../images/icons/icon_nuevo.png');
                background-repeat: no-repeat;
                background-position: right;
            }
/*TABLA*/
table.tabla{
    background-color: #e3e3e3;
    border-collapse: collapse;
    padding: 0px 0px 10px 0px;
    font-size: 12px;
    width: 100%;
}
table.tabla td{
    border-width: 1px;
}
.tabla .cabecera{
    background: #14a8b7;
    padding: 10px;
    color: #FFF;
    height: 25px;
    border-bottom: solid 3px #eac600;
}
.pad_left{
    padding-left: 10px;
}
.rows{
    height: 30px;
}
.rows:hover{
    background-color: #feff9d;
}
.m{
    color: #ffa900;
}
/**************************/
select{
    border-style: solid;
    border-width: 2px;
    border-color: #b3b3b3;
    padding: 3px 5px 3px 5px;
    width: auto;
    min-width: 212px;
}
textarea{
    border-style: solid;
    border-width: 2px;
    border-color: #b3b3b3;
    padding: 3px 5px 3px 5px;
    min-width: 473px;
    max-width: 473px;
    min-height: 50px;
    max-height: 50px;
}
input[type=date]{
    font-family: 'Verdana';
}
input[type=text],input[type=date]{
    border-style: solid;
    border-width: 2px;
    border-color: #b3b3b3;
    padding: 3px 5px 3px 5px;
    width: 200px;
}
input[type=text]:focus,select:focus,input[type=date]:hover{
    background-color: #feff9d;
}
input.txtcod{
    background-color: #ffafaf;
    border-color: #14a8b7;
}
caption{
    width: 100%;
    background-color: #0000ff;
    color: #FFF;
    font-style: italic;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
}
.total{
    font-weight: bolder;
}
.sub{
    font-style: italic;
    text-align: center;
}
/*Filtros Values*/
input[name=txtserie_documento_venta]{
    width: 30px;
}
input[name=txtfecha_venta],input[name=txtfecha_entrega]{
    width: 150px;
}
input[name=txtprecio],input[name=txtdescuento]{
    width: 100px;
}
input[name=txtcantidad]{
    width: 50px;
}
#txtcodigo_cliente{
    width: 444px;
    overflow: hidden;
}
#txtcodigo_articulo{
    overflow: hidden;
}